---
layout: default
title: home
permalink: /index.html
---

    <!-- End #mobile-menu-toggle -->
    
    <!-- End header -->

    <div id="lead" >
        <div id="lead-content">
            <h2>Jayakrishna Sahit</h2>
            <h5>DevOps Engineer</h5>
            <a href="#" class="btn-rounded-blue">View Resume</a>
        </div>
        <!-- End #lead-content -->

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <section>
              <img src="{{ site.baseurl }}/assets/conf3.jpg" alt="sahitpj" class="about-image">
    </section>
    <!-- End #about -->
<!--
    <div id="experience">
        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
            <div data-date="September 2015 – September 2016">
                <h3>Employer Name</h3>
                <h4>Job Title</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                </p>
            </div>

            <div data-date="September 2015 – September 2016">
                <h3>Employer Name</h3>
                <h4>Job Title</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                </p>
            </div>

            <div data-date="September 2015 – September 2016">
                <h3>Employer Name</h3>
                <h4>Job Title</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                </p>
            </div>
        </div>
    </div>
    <-- End #experience -->

    <div id="education">
        <div class="wrapper">
            <ul class="post-list">
              {% for post in paginator.posts %}
              <div class="row">
              <div class="col-lg-6 col-mf-6 col-lg-offset-3 col-md-offset-3 blogposts">
                <h2 class="post-title">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <section class="post-excerpt" itemprop="description">
                  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                </section>
                <section class="post-meta">
                  <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
                  <div class="post-categories">
                  {% if post.categories.size > 0 %}in {% for cat in post.categories %}
                    {% if site.jekyll-archives %}
                    <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
                    {% else %}
                    <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
                    {% endif %}
                  {% endfor %}{% endif %}
                  </div>
                </section>
                </div>
              </div>
              {% if forloop.last == false %}
              <hr>
              {% endif %}
              {% endfor %}
            </ul>
            
            <nav class="pagination" role="navigation">
              <p>
                {% if paginator.previous_page %}
                  {% if paginator.page == 2 %}
                  <a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  {% else %}
                  <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  {% endif %}
                {% else %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
                </span>
                {% endif %}
                <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
                {% if paginator.next_page %}
                <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                {% else %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
                </span>
                {% endif %}
              </p>
            </nav>
    </div>
    </div>
    <!-- End #education -->

    

    

    
    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="public/js/scripts.min.js"></script>
</body>

</html>
