---
layout: default
title: home
permalink: /index.html
---

    <!-- End #mobile-menu-toggle -->
    
    <!-- End header -->

    <div id="lead" >
        <div id="lead-content">
            <h2>Jayakrishna Sahit</h2>
            <h5>Software Developer</h5>
            <a href="{{ site.baseurl }}/assets/Resume_Org.pdf" target="_blank" class="btn-rounded-blue">View Resume</a>
            <p class="icon-home-page">
              <a href="mailto:sahitjayakrishna8@gmail.com"><i class="fa fa-envelope-o fa-fw" aria-hidden="true" style="font-size:20px;color:black"></i></a>
              &nbsp; &nbsp; &nbsp;
              <a href="https://github.com/sahitpj"><i class="fa fa-github" aria-hidden="true" style="font-size:20px;color: black"></i></a>
              &nbsp; &nbsp; &nbsp;
              <a href="https://twitter.com/sahitpj"><i class="fa fa-twitter" aria-hidden="true" style="font-size:20px;color:black"></i></a>
              &nbsp; &nbsp; &nbsp;
              <a href="https://www.linkedin.com/in/jayakrishna-sahit-81b485129/"><i class="fa fa-linkedin" aria-hidden="true" style="font-size:20px;color:black"></i></a>
              &nbsp; &nbsp; &nbsp;
              <a href="https://gitlab.com/sahitpj"><i class="fa fa-gitlab" aria-hidden="true" style="font-size:20px;color:black"></i></a>
            </p>
        </div>
        <!-- End #lead-content -->

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <section>
              <img src="{{ site.baseurl }}/assets/conf3.jpg" alt="sahitpj" class="home-image">
    </section>
    <!-- End #about -->
<!--
    <div id="experience">
        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
            <div data-date="September 2015 – September 2016">
                <h3>Employer Name</h3>
                <h4>Job Title</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                </p>
            </div>

            <div data-date="September 2015 – September 2016">
                <h3>Employer Name</h3>
                <h4>Job Title</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                </p>
            </div>

            <div data-date="September 2015 – September 2016">
                <h3>Employer Name</h3>
                <h4>Job Title</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                </p>
            </div>
        </div>
    </div>
    <-- End #experience -->

    <!-- Twitter feed -->

    <!--
    <section>
      <div class="container-fluid">
        <div class="row">
        <div class="col-lg-3">
      <a class="twitter-timeline" href="https://twitter.com/sahitpj?ref_src=twsrc%5Etfw">Tweets by sahitpj</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
    </div>
    </div>
    </section>
  <-- End of twitter feed-->

  <section class="interesting-updates">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 pb-30 diff" style="padding-top: 70px; margin-left: 10px">
            <h1 class="mainspace-heading">Mainspace.Org</h1>
          </div>
        </div>
        <div class="row diff">	
          <div class="single-updates col-lg-8 col-md-8" style="padding: 30px">
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
            </div>							
              <h4 class="mainspace-each-title diff" ><a class="mainspace-a" href="">In the world of Fake News</a></h4>
            <p>Fake News is the hot topic right now, and as easy as it seems to differentiate, it definitely isn't for computers, which is why we take a look 
              at why Fake News is so hard to understand
            </p>
            <hr>
            <h4 class="mainspace-each-title diff"><a class="mainspace-a">Guide to using Social Media</a></h4>
            <p>Here is our guide to using social media and other scary platforms on the internet.
            </p>
            <hr>
            <h4 class="mainspace-each-title diff"><a class="mainspace-a">#MeToo Movement</a></h4>
            <p>
              The plan to set up CSD Labs (Centre for Software Development Labs) to foster Software Development in our college.
              Feel free to reach out to me if interested.
            </p>
          </div>
          <div class="single-updates col-lg-4 col-md-4" style="padding: 30px">
            <img class="mainspace-image" src="assets/techinst.jpg">
          </div>																		
        </div>
        <div class="row">
        <!--
          <div class="other-stories-div col-lg-3 col-md-3" style="padding: 50px">
              <button type="button" class="btn btn-outline-info">View All stories</button>
          </div>
        -->
        </div>
      </div>	
    </section>
    <section>
      <div class="container">
        <div class="row diff">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="mainspace-image" src="assets/internet.jpg">
            <p class="imp"></p>
            <p class="rest">How we contribute towards a better Internet</p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <br><br><br>
            <p class="separate">Welcome to our world of Open Source</p>
            <a href="https://github.com/mainspace-org"><button class="button">Github</button></a>
            <br><br>
            <img class="mainspace-image" src="assets/github.png"> 
          </div>
        </div>
      </div>
    </section>

    <div id="education">
        <div class="wrapper">
            <ul class="post-list">
              {% for post in paginator.posts %}
              <div class="row">
              <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 blogposts">
                <h2 class="post-title">
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <section class="post-excerpt" itemprop="description">
                  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
                </section>
                <section class="post-meta">
                  <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
                  <div class="post-categories">
                  {% if post.categories.size > 0 %}in {% for cat in post.categories %}
                    {% if site.jekyll-archives %}
                    <a href="{{ site.baseurl }}/category/{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
                    {% else %}
                    <a href="{{ site.baseurl }}/posts/#{{ cat }}">{{ cat | capitalize }}</a>{% if forloop.last == false %}, {% endif %}
                    {% endif %}
                  {% endfor %}{% endif %}
                  </div>
                </section>
                </div>
                <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 blogposts-tags">
                  <h4>Tags</h4>
                  {% assign tags = post.tags %}
                  {% for tag in tags %}
                    <button type="button" class="btn btn-primary" style="margin-top:8px">{{ tag }}</button>
                  {% endfor %}
                </div>
              </div>
              {% if forloop.last == false %}
              <hr>
              {% endif %}
              {% endfor %}
            </ul>
            
            <nav class="pagination" role="navigation">
              <p>
                {% if paginator.previous_page %}
                  {% if paginator.page == 2 %}
                  <a class="newer-posts" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  {% else %}
                  <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  {% endif %}
                {% else %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
                </span>
                {% endif %}
                <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
                {% if paginator.next_page %}
                <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                {% else %}
                <span class="fa-stack fa-lg">
                  <i class="fa fa-square fa-stack-2x"></i>
                  <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
                </span>
                {% endif %}
              </p>
            </nav>
    </div>
    </div>
    <!-- End #education -->

    

    

    
    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="public/js/scripts.min.js"></script>
</body>

</html>
