---
title: Mainspace
description: mainspace.org
permalink: /mainspace/
---


<!doctype html>
<html lang="en">

  {% include head.html %} 

  <body>

    {% include header.html %}
    <!-- Start Heading section -->
    <section class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h1 class="main-heading">Mainspace</h1>
                    <h1 class="side-heading">Ideas for the Internet...</h1>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-3">
                    <!-- <img src="{{ site.baseurl }}/assets/img/articles/graphic.jpg" class="main-img"> -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Heading section -->


    <!-- Begin News-Area -->
    <!-- <section >
        <div class="container-fluid">
            <div class="row row-flex">
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content type-1">
                    <p class="imp">#MeToo</p>
                    <p>Studying the Women's movement in India and tracking it's progress. </p>
                    <p>A huge impact created on the Film Industry, which mainly includes Bollywood, however will other regional industries too rise up? </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding">
                    <img class="article-post-img" src="../assets/img/articles/womenmove.jpg">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content">
                        <p class="imp">Fake News</p>
                        <p>With the number of Lynching cases having decreased since July, the battle against Fake News continues </p>
                        <p>Is analyzing Fake News as tough is it seems in both it's video and text format? </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding">
                        <img class="article-post-img" src="../assets/img/articles/fakenews.jpg">
                </div>
            </div>
            <div class="row row-flex">
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding ">
                        <img class="article-post-img" src="../assets/img/articles/pmspeech.jpg">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content type-2">
                    <p class="imp">A Prime Minister's Voice</p>
                    <p>We probably never pay attention to a Prime Minister's Speech, unless of course, we see him as a good speaker. </p>
                    <p>Is there more to a Prime Minister's Speech that meets the eye? </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding">
                        <img class="article-post-img" src="../assets/img/articles/adds.jpg"">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content type-1">
                     <p class="imp">Advertisement Outreach</p>
                     <p>The guide to understanding the science and research that goes behind advertisements </p> 
                     <p>And how Data plays an important role in it. </p>  
                </div>
            </div>
        </div>
    </section> -->
    <!-- End News-Area -->

    <!-- Start Creative Area 1-->
    <section class="creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 art">
                    <!-- <img class="article-post-img" src="../assets/img/articles/pmspeech.jpg"> -->
                    <p class="imp">What Mainspace is all about?</p>
                    <p class="rest">Mainspace is all about making users objective about the information we encounter everyday. We do use news
                        and data driven research, but we would also like people to be more aware of it, which is why we are making this about you. 
                    </p>
                    <p class="rest">
                        We intend to work on building a better news environment - news which you know which can be trusted, news which 
                        you know is important and news which will you bring to light the statistics, but we aren't just about news.
                    </p>
                    <p class="rest">
                        We are all about research and how everyone should be a part of it, because we know it's important for everyone to 
                        know. We also intend to inspire research in fields we know, we must grow in. 
                    </p>
                    <p>
                        And lastly and definitely not the least, we want you to be aware of how other organizations are shaping our society, 
                        and thus make it our mission to make sure you stay informed.
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <img src="{{ site.baseurl }}/assets/gopher.jpg" class="article-post-img">
                    <!-- <p class="imp">A Developer's World</p>
                    <p class="rest">A glimpse of a typical developer's life. Check this link for a new story every month</p> -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Creative Area 1-->

    <!-- Start Creative Area 2-->
    <section class="creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 art">
                    <!-- <img class="article-post-img" src="../assets/img/journalism.png"> -->
                    <p class="separate like">Cranberry - Our tool for Fighting Fake News</p>
                    <p class="rest">Our solution to how we can help tackle fake news and spread of misinformation.
                    </p>
                    <a href="#"><button class="button">Github</button></a>
                    <a href="#"><button class="button">In Action</button></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 art">
                    <br><br><br>
                    <p class="separate">A lot of News</p>
                    <p class="rest">How we believe technology can help in the field of News and Research</p>
                    <a href="https://mainspace-org.github.io"><button class="button">Learn More</button></a>
                    <br><br>
                    <img class="article-post-img" src="{{ site.baseurl }}/assets/jour.png" style="height: 300px;"> 
                </div>
            </div>
        </div>
    </section>
    <!-- End Creative Area 2-->


    <section class="creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <!-- <img class="article-post-img" src="../assets/img/articles/browser.gif"> -->
                    <p class="imp">Data Driven Journalism</p>
                    <p class="rest">Our concept of Data Driven Journalism, a new way of looking at news, something we think is lacking in the current system</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <!-- <img class="article-post-img" src="../assets/img/articles/fakenews.jpg"> -->
                    <p class="imp">Understanding Fake News</p>
                    <p class="rest">We talk about how we work towards stopping Fake News</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <!-- <img class="article-post-img" src="../assets/img/articles/adds.jpg"> -->
                    <p class="imp">Researching Data</p>
                    <p class="rest">Why it's important to understand data in today's world, and how it could help make our lives better</p>
                </div>
            </div>
        </div>
    </section>


    {% include footer.html %}


  </body>
</html>
