---
title: Projects
description: 
permalink: /projects/
---



<!doctype html>
<html lang="en">

  {% include head.html %} 

  <body>

    {% include header.html %}
    <!-- Start Heading section -->
    <!-- End Heading section -->


    <!-- Begin News-Area -->
    <!-- <section >
        <div class="container-fluid">
            <div class="row row-flex">
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content type-1">
                    <p class="imp">#MeToo</p>
                    <p>Studying the Women's movement in India and tracking it's progress. </p>
                    <p>A huge impact created on the Film Industry, which mainly includes Bollywood, however will other regional industries too rise up? </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding">
                    <img class="article-post-img" src="../assets/img/articles/womenmove.jpg">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content">
                        <p class="imp">Fake News</p>
                        <p>With the number of Lynching cases having decreased since July, the battle against Fake News continues </p>
                        <p>Is analyzing Fake News as tough is it seems in both it's video and text format? </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding">
                        <img class="article-post-img" src="../assets/img/articles/fakenews.jpg">
                </div>
            </div>
            <div class="row row-flex">
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding ">
                        <img class="article-post-img" src="../assets/img/articles/pmspeech.jpg">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content type-2">
                    <p class="imp">A Prime Minister's Voice</p>
                    <p>We probably never pay attention to a Prime Minister's Speech, unless of course, we see him as a good speaker. </p>
                    <p>Is there more to a Prime Minister's Speech that meets the eye? </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding">
                        <img class="article-post-img" src="../assets/img/articles/adds.jpg"">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 nopadding article-post-content type-1">
                     <p class="imp">Advertisement Outreach</p>
                     <p>The guide to understanding the science and research that goes behind advertisements </p> 
                     <p>And how Data plays an important role in it. </p>  
                </div>
            </div>
        </div>
    </section> -->
    <!-- End News-Area -->

    <!-- Start Creative Area 1-->
   
    <!-- End Creative Area 1-->

    

    <section class="creative-area">
        <div class="container">
            <div class="row">
                <h1 style="padding: 20px;">Work Experience</h1>
                <div class="col-lg-4  col-md-4 col-sm-4 re">
                British Broadcasting Corporation
                        <!-- <img src="{{ site.baseurl }}/assets/bbc.png" class="article-post-img" style="margin-top:30px;"> -->
                        <!-- <p class="imp">A Developer's World</p>
                        <p class="rest">A glimpse of a typical developer's life. Check this link for a new story every month</p> -->
                </div>
                <div class="col-lg-8 col-md-10 col-sm-10">
                    <!-- <img class="article-post-img" src="../assets/img/articles/pmspeech.jpg"> -->
                    <p class="rest">
                        - Worked in the Fake News Project - involved in developing ideas to help tackle fake news<br>
                        - Worked on developing insights on FaceBook viewership data, WhatsApp Fake News Deaths in India, Prime Minister Speech Data<br>
                        - Worked on Pakistan Elections Dashboard 2018.<br>
                        - Finalist of the BBC #NewsHack 2018
                    </p>

                    <p class="imp">Collaborated BBC punlished articles</p>
                    <a href="https://www.bbc.com/urdu/pakistan-44922604?ocid=socialflow_twitter">Pakistan Elections Dashboard</a>- https://www.bbc.com/urdu/pakistan-44922604?ocid=socialflow_twitter <br><br>
                    <a href="https://www.bbc.co.uk/news/resources/idt-e5043092-f7f0-42e9-9848-5274ac896e6d?fbclid=IwAR10S9tX8z6GXOAz7qKqyMaJD2uWTOqKs8_Ydu4a4xcfxdfwjKF8ApfJnho">WhatsApp Fake News Insights</a> - https://www.bbc.co.uk/news/resources/idt-e5043092-f7f0-42e9-9848-5274ac896e6d?fbclid=IwAR10S9tX8z6GXOAz7qKqyMaJD2uWTOqKs8_Ydu4a4xcfxdfwjKF8ApfJnho
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 ll">
                    <iframe id="inlineFrameExample"
                    title="Inline Frame Example"
                    height="300"
                    src="https://www.bbc.com/urdu/pakistan-44922604?ocid=socialflow_twitter"
                    class="l-frame">
                    </iframe>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 ll">
                    <iframe id="inlineFrameExample"
                    title="Inline Frame Example"
                    height="300"
                    src="https://www.bbc.co.uk/news/resources/idt-e5043092-f7f0-42e9-9848-5274ac896e6d?fbclid=IwAR10S9tX8z6GXOAz7qKqyMaJD2uWTOqKs8_Ydu4a4xcfxdfwjKF8ApfJnho"
                    class="l-frame">
                    </iframe>
                </div>
            </div> -->
        </div>
    </section>


    <section class="creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-4 re">
                    Agribot
                    <!-- <img src="{{ site.baseurl }}/assets/datagov-logo.jpg" class="article-post-img" style="margin-top:30px;"> -->
                    <!-- <p class="imp">A Developer's World</p>
                    <p class="rest">A glimpse of a typical developer's life. Check this link for a new story every month</p> -->
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 ">
                    <!-- <img class="article-post-img" src="../assets/img/articles/pmspeech.jpg"> -->
                    <p class="rest">
                    India is an Argo-based economy and proper information is key to optimal agricultural growth and output. 
                    In order to answer the query of the farmer we build an agricultural chatbot based on the dataset from Kisan Call Center. 
                    The system is robust enough to answer queries related to weather, market rates, plant protection and government schemes. This system is available 24*7 and can be accessed through any electronic device. 
                    </p>
                    <b>Project Team</b> - Naman Jain, Pranjali Jain, Pratik Kayal, P Jayakrishna Sahit, Soham Pachpande
                    <br><br>
                    <b>Website</b> - https://agribotchat.appspot.com/
                    <br><br>
                    <b>Mail-to</b> - teamagribot@gmail.com
                </div>
            </div>
        </div>
    </section>


    <section class="creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 re" >
                    Paper Publication
                </div>
                <div class="col-lg-8">
                        Naman jain Pranjali Jain Pratik Kayal Jayakrishna Sahit Soham Pachpande Mayank Singh Jayesh Choudhuri “Agribot: Agriculture-Speciﬁc Question Answer System” International Conference of STEM, VG 2019 <br><br>
                        Awarded third best paper award at the following conference
                </div>
            </div>
        </div>
    </section>

    <!-- Start Creative Area 2-->
    <section class="creative-area bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 re" >
                   Projects
                </div>
                <div class="col-lg-8">
                    <p class="imp">Eyes Go-package</p>
                    IP/Domain information extraction package, written in golang. 
                    <p><a href="https://github.com/naltun/eyes">Link to Project</a></p>

                    <p class="imp">Courier Service</p>
                    Courier query handler system built for IIT Gandhinagar, runs on Django. Helps keep track of couriers of various students
                    giving details about their arrival and at which post they are present.
                    <p><a href="https://github.com/sahitpj/courier-service">Link to Project</a></p>

                    <p class="imp">Eskimo - Task Manager</p>
                    Eskimo is a cross platform task manager built using Javascript and Electron. Gives real time information regarding all computer system process and can be specially built for
                    data analysis
                    <p><a href="https://github.com/sahitpj/eskimo">Link to Project</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Creative Area 2-->


    <!-- <section class="creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <-- <img class="article-post-img" src="../assets/img/articles/browser.gif"> --
                    <p class="imp">Data Driven Journalism</p>
                    <p class="rest">Our concept of Data Driven Journalism, a new way of looking at news, something we think is lacking in the current system</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <!-- <img class="article-post-img" src="../assets/img/articles/fakenews.jpg"> --
                    <p class="imp">Understanding Fake News</p>
                    <p class="rest">We talk about how we work towards stopping Fake News</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <!-- <img class="article-post-img" src="../assets/img/articles/adds.jpg"> --
                    <p class="imp">Researching Data</p>
                    <p class="rest">Why it's important to understand data in today's world, and how it could help make our lives better</p>
                </div>
            </div>
        </div>
    </section> -->
    


    {% include footer.html %}


  </body>
</html>