<footer class="footer">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Contact </h5>
                <!--headin5_amrc-->
                    <p class="mb10">Feel free to drop me an email</p>
                    <p><i class="fa fa-location-arrow"></i> IIT Gandhinagar, Palaj, Gujarat, India</p>
                    <p><i class="fa fa fa-envelope"></i> jayakrishna.sahit@iitgn.ac.in  </p>
                </div>
                <div class=" col-sm-4 col-md  col-6 col">
                <!--footer_ul_amrc ends here-->
                </div>
                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="#">PyData Gandhinagar</a></li>
                        <li><a href="#">FOSSA-GN</a></li>
                    </ul>
                <!--footer_ul_amrc ends here-->
                </div>
            
            
                <div class=" col-sm-4 col-md  col-12 col">
                    
                <!--footer_ul2_amrc ends here-->
                </div>
            </div>
        </div>
            
        <br>	
        <div class="container">
            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center">Copyright @2018 | Designed by <a href="#"> Jayakrishna Sahit </a></p>
            
            <ul class="social_footer_ul">
                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-medium"></i></a></li>
                <li><a href="#"><i class="fa fa-github"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
            
    </footer>