
<!--

<header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="/about/">About</a>
            </li>
            <li>
                <a href="/index.html/">Home</a>
            </li>
        </ul>
    </header>


-->

<nav class="navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" id="navbar-button">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav" style="color:rgb(250, 231, 58)">
              <li><a href="/" style="color:black !important; font-family: 'Rockwell', sans-serif !important; font-size: 20px !important">Home</a></li>
              <!--
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Page 1-1</a></li>
                  <li><a href="#">Page 1-2</a></li>
                  <li><a href="#">Page 1-3</a></li>
                </ul>
              </li>
            -->
              <!-- <li><a href="/projects/" style="color:black !important; font-family: 'Rockwell', sans-serif !important; font-size: 20px !important">Projects</a></li> -->
              <li><a href="/mainspace/" style="color:black !important; font-family: 'Rockwell', sans-serif !important; font-size: 20px !important">Mainspace.Org</a></li>
              <li><a href="/projects/" style="color:black !important; font-family: 'Rockwell', sans-serif !important; font-size: 20px !important">My Work</a></li>
              <li><a href="{{ site.baseurl }}/assets/Resume_Org.pdf" target="_blank" style="color:black !important; font-family: 'Rockwell', sans-serif !important; font-size: 20px !important">Resume</a></li>
            </ul>
          </div>
        </div>
      </nav>