---
title: ML Engineering
description: ml engineering blog and research
permalink: /ml-engineering/
---


<!doctype html>
<html lang="en">

  {% include head.html %} 

  <body>

    {% include header.html %}
    <!-- Start Heading section -->
    <section class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h1 class="main-heading">Machine Learning Engineering</h1>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-3">
                   
                </div>
            </div>
        </div>
    </section>
    <!-- End Heading section -->

    <!-- Start Creative Area 1-->
    <section class="creative-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <!-- <img class="article-post-img" src="../assets/img/articles/pmspeech.jpg"> -->
                    <p class="imp">
                      In this blog I will be covering the engineering behind ML Systems - trying to understand how ML production are built in the real world and 
                      engineering challenges behind them. I will also be covering ML as a business solution to a problem - this will cover parts of the algorithm
                      design but also on the engineering side of it. <br/><br/>
                    </p>
                    <p class="imp">
                        To summarise don't be too upset if I don't spend too much time diving into ML/DL algorithms itself
                        although I will do my best to explain it briefly and also link resources for it
                    </p>
                    <br/>
                    <p class="rest">
                        My motivation for learning about this topic - <a href="/2024/02/18/Why-ML-Engineering.html">link</a>
                    </p>
                    <!-- <p class="imp">What Mainspace is all about?</p>
                    <p >Mainspace is all about making users objective about the information we encounter everyday. We do use news
                        and data driven research, but we would also like people to be more aware of it, which is why we are making this about you. 
                    </p>
                    <p class="rest">
                        We intend to work on building a better news environment - news which you know which can be trusted, news which 
                        you know is important and news which will you bring to light the statistics, but we aren't just about news.
                    </p>
                    <p class="rest">
                        We are all about research and how everyone should be a part of it, because we know it's important for everyone to 
                        know. We also intend to inspire research in fields we know, we must grow in. 
                    </p> -->
                </div>
            </div>
        </div>
    </section>

    <section style="height: 60px;">

    </section>

    <section>
        <div class="container">
            <h2>Blog Posts</h2>
            {% for p in site.posts %}
                {% if p.tags contains 'MLE' %}
                <p class="biography-text">
                    {{ p.date | date: "%B %-d, %Y" }} - <a  href="{{ p.url | prepend: site.baseurl }}" style="color:black">{{ p.title }}</a>
                </p>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section style="height: 60px;">

    </section>

    <!-- <section class="creative-area">
        <div class="container">
            <h2>Spotlight</h2>
            <div class="row" style="padding-top: 20px;">
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <img class="article-post-img" src="{{ site.baseurl }}/assets/jour.png" style="width: 100%;"> 
                    <br/>
                    <p class="imp">Data Driven Journalism</p>
                    <p class="rest">Our concept of Data Driven Journalism, a new way of looking at news, something we think is lacking in the current system</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <img class="article-post-img" src="{{ site.baseurl }}/assets/jour.png" style="width: 100%;"> 
                    <br/>
                    <p class="imp">Understanding Fake News</p>
                    <p class="rest">We talk about how we work towards stopping Fake News</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 art">
                    <img class="article-post-img" src="{{ site.baseurl }}/assets/jour.png" style="width: 100%;"> 
                    <br/>
                    <p class="imp">Researching Data</p>
                    <p class="rest">Why it's important to understand data in today's world, and how it could help make our lives better</p>
                </div>
            </div>
        </div>
    </section> -->


    {% include footer.html %}


  </body>
</html>
